@page
<!DOCTYPE html>
<html>
<head>
    <title>My Basic Webpage</title>
</head>
<body>
    <h1>Welcome to my basic webpage!</h1>
    <p>This is an example of a basic webpage created using .NET 6 and Razor Pages.</p>
</body>
</html>